<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441130672909-1riu87pf1gccboovdu9l6355tcu5qfh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441130672909-1riu87pf1gccboovdu9l6355tcu5qfh7</string>
	<key>API_KEY</key>
	<string>AIzaSyCD5SuRFtTsUE0pIUFUdNN2Fl_HB7bGN-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>441130672909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mshima.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>schedule-bool</string>
	<key>STORAGE_BUCKET</key>
	<string>schedule-bool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441130672909:ios:9738bf3b5f2aa1c739c644</string>
	<key>DATABASE_URL</key>
	<string>https://schedule-bool-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>